body{
    margin: 0 auto;
    padding: 0;
    background-color: #f3ca20;
}

#cookie{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  cursor: pointer;
}

#cookie-number{
    font-size: 50pt;
    text-align: center;
    margin-top: 5%;
    font-family:"Lucida Console";
    color: #000000;
}
